# 为 @tc-airTravel scope 指定镜像源
@tc-airTravel:registry=http://nexus.17usoft.com/repository/npm-flight-group/
@airtravel:registry=http://nexus.17usoft.com/repository/npm-flight-group/

# 其他包使用默认镜像源
registry=https://registry.npmjs.org/
